<div class = "form-group row">
     <label for="inputID" class="col-sm-2 col-form-label">Privacy Mechanisms</label>
    <div class="col-sm">
       <input type = "text" 
        id = <%= modelo + 'input'%>
        name = <%= modelo %>
        class = "form-control" 
        placeholder = "Ex.: Access control with notification via user email" > 
    </div>
</div>
<center><i class="fas fa-dot-circle separador"></i></center>