<center><h1>Privacy Concepts Catalog</h1></center>
<ul id="docs-internal-guid-82133253-7fff-03cf-5b46-06c8b0452eb7">
    <li dir="ltr">
        <p dir="ltr">
            Personal Information: It is relate to a living individual who can
            be identified from that information;
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Private: Content or information is private;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Public: Content or information is public;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Semi-Public: It shares content and/or information with
                particular groups, or particular categories of users;
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Owner: Agent is the owner of his personal information/data
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Third Party: Active components who receive personal information;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Processor/ Manager: is the service entity responsible for delivery
            content (mostly data) and for user data restoration;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Collect: Collection of personal information;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Disclosure: Exposure of information to individuals who are not
            supposed to have access to it (SCIENCE154).
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Use/retention: Use of personal information and how long data will
            be stored.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Privacy Mechanism: It refers to appropriate privacy protection
            mechanisms; Privacy Mechanism types:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Safeguards: Guarantee granted to protect some personal
                information ;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Awareness/Necessity to know/ Know/ feeling of control: It
                occurs when the user is aware of the information he is
                supplying to the system and the consequences of his/her act of
                sharing.
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Consent/Permission: It refers to get users consent about
                something;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Accuracy: It refers to exactness of information or data;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Agreement: It get, users’ agreement about something;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Obligation: A set of actions that guarantees to perform, after
                the data have been processed. For example, data collected;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Socialization: Social relationships with others;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Intentionality: Agents have intentions and they do not
                necessarily share common goals;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Non Repudiation: It occurs when it is possible to gather
                evidence so that a party cannot deny having performed an
                action. For example, disclose agent data.;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Availability: It ensures a minimum availability level for the
                personal information;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Access Control: It deals with permission and denial of access;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Autonomy: The agent has independence to make decisions;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Confidentiality: It implies the protection of the information
                which must not be revealed to third parties;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Intervenability: The parties involved in any privacy relevant
                data processing, including the individual whose personal data
                are processed, have the possibility to intervene, where
                necessary. For example, intervene in the way that the data is
                being disclosed.
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Dectectability: It occurs when one can sufficiently distinguish
                whether something exists For example, a system.
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Integrity: Accuracy and consistency of personal information;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Unlikability: It occurs when one cannot sufficiently
                distinguish whether 2 items of interest (like requests from a
                user) are related;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Pseudonymity: It is used when anonymity cannot be provided but
                again for the purpose of protecting user’s identification;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Anonymity: Agent enters in a system identify by using a
                pseudonym;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Authorization: Agents that are allowed the protected resources
                of a system;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Authentication: It is a way to prove personal identity. For
                example, username and password;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Assurance: Knowledge and behavior to convey confidence and
                trust;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Accountability: It is occurs when a data controller has
                responsibility of privacy data;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Auditability: An ability of a system to conduct persistent,
                non-by passable monitoring of all actions performed by humans
                or machines within the system;
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Privacy Threats: Threats pose potential loss or indicate problems
            that can put the system at risk; Privacy Threats Types:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Exposure: Personal/sensitive information received by unintended
                recipients;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Surveillance: It refers to requests for information about an
                agent;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Aggregation: It combines datasets to produce a new type of
                information without agent’s consent;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Misinformation: Inaccurate or insufficient level of information
                about an agent is transmitted;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Power Imbalance: Third Party uses information to control an
                agent;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Intrusion: It is occurs when the third- party disturbs agent's
                tranquility;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Identification (5): Agent’s personal information is revealed;
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Harms: Associate with a threat. When privacy violation occurs to an
            user ;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Constraint: It is used to represent a set of restrictions that do
            not permit specific actions to be taken, restrict the way that
            actions can be taken or prevent certain system objectives from
            being achieved;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Compliance: Occurs when the system is compliant with the (data
            protection) legislation, its advertised policies and the existing
            user consents.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Context: Information from one context may be used in another
            context;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Trust: An agent “A” forwards the information of agent “B” to others
            contravening the agent “B” terms and conditions ;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Vulnerability: Attacker or a malicious user might exploit fragility
            and get access (being exposed or attacked);
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Risk: Occurs when there is a vulnerability exploit in the system;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Privacy policy: procedure and effectiveness implementation of
            organizational culture;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Privacy Preferences: Preferences of agents.
        </p>
    </li>
</ul>
