<h1><center>Documentação</center></h1>

<p dir="ltr" id="docs-internal-guid-6c8f8c83-7fff-420b-c8fe-19816ef52d95">
    O critério de privacidade tem como objetivo auxiliar desenvolvedores de
    software que utiliza as metodologias ágeis de desenvolvimento a pensar em
    privacidade desde os momentos iniciais do desenvolvimento do software, ou
    seja, quando está realizando a elicitação e especificação dos requisitos do
    sistema.
</p>
<p dir="ltr">
    O processo de especificação de requisitos de privacidade com o "Critério de
    Privacidade" segue os passos apresentados na figura abaixo.
</p>
<p dir="ltr">
    <center><img
        src="https://lh6.googleusercontent.com/szxh4otQjFys8IqIEzVbKkBq5S8a5BHVLIYWxPOrzCXeZbUO0ZYfWGU3gZ6PjDc49-W9ZCtFgSNRaGCp9Kqvig9RVpTZMHgmwdXjXWXXp4T8NnWotkLbLCLI_yfE6V24-BydnH10WWNSUl-y6A"
        width="567"
        height="494"
    /></center>
</p>
<p dir="ltr">
    O "Critério de Privacidade" pode ser utilizado em conjunto com qualquer
    método de especificação de requisitos, como por exemplo, as histórias dos
    usuários que são amplamente utilizados no desenvolvimento ágil de software.
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Inicialmente, em "Especificar Requisitos" se faz necessário
            especificar o requisito com algum método de especificação de
            requisitos.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Após realizar a especificação do requisito é necessário fazer o
            seguinte questionamento: Envolve coleta / uso / retenção /
            divulgação de dados pessoais?
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Se a resposta for negativa o processo é finalizado
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Se a resposta for positiva se inicia de fato o processo de
                especificação do Critério de Privacidade.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar ID”, ou seja, o identificador único do
            critério de privacidade.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar o Requisito de Privacidade”, ou seja, o
            requisito que foi especificado em outro método de especificação de
            requisitos.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Fonte”, ou seja, o responsável pela
            informação.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Prioridade” do desenvolvimento
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Pouco crítico;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Regular;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Crítico;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Muito crítico.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Descrição”, ou seja, a descrição detalhada do
            requisito especificado.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Atores” envolvidos naquele requisito.
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Proprietário / Controlador;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Processador;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Terceiro.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Relação de Confiança dos Atores”, ou seja,
            informar se existe confiança entre os atores em relação ao
            requisito especificado.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Informação Pessoal”, ou seja, apresentar todas
            as informações pessoais para o requisito. Para cada informação
            pessoal é necessário classificar a informação pessoal em:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Informação Privada;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Informação Pública;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Informação Semi-Pública.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar objetivo do contexto da tarefa”, ou seja, qual
            o objetivo do uso ou retenção da informação pessoal.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Restrição de Privacidade”:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Preferência de privacidade
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Conformidade com privacidade / Política
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            Deve-se “Especificar Cenário de Risco”, ou seja, detalhar todas as
            “vulnerabilidades em potencial” que podem ser exploradas por
            “ameaças em potencial” e juntas, causar os “Danos em Potencial”.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Por último, deve-se “Especificar Mecanismo (s) de Privacidade” que
            podem ser utilizados para mitigar o cenário de risco identificado.
        </p>
    </li>
</ul>
<p dir="ltr">
    O metamodelo (em inglês) abaixo apresenta os construtos e regras
    necessários para construir a especificação de privacidade usando o método
    Critério de Privacidade.
</p>
<p dir="ltr">
    <center><img
        src="https://lh5.googleusercontent.com/lBPHq1aAsHIBdYMHL8sox-2_4vCqt9pIwn8sHAoLTZZGo5K8pixmFJ4lSLY5gYQRbv6TXSSiCdMtNtUah7DFtfGgIbRnMIlXT7VeMvqneVHrebZDl0nHiVunt6cEa55JWOs75hna2Ozs196DFA"
        width="567"
        height="353"
    /></center>
</p>
<p dir="ltr">
    Veja o <a href = <%= catalog_path %>> catálogo de conceitos de privacidade</a> para um melhor entendimento
    sobre os conceitos apresentados.
</p>
