<h1><center>Documentation</center></h1>

<p dir="ltr" id="docs-internal-guid-e94d70b1-7fff-facf-b5b8-73767e5c2579">
    Inglês
</p>
<p dir="ltr">
    Privacy criteria aim to help software developers who use agile development
    methodologies to think about privacy from the early stages of software
    development, that is when they are eliciting and specifying system
    requirements.
</p>
<p dir="ltr">
    The process of specifying privacy requirements with the "Privacy Criteria"
    follows the steps shown in the figure below.
</p>
<p dir="ltr">
    <img
        src="https://lh5.googleusercontent.com/848v_J1AkqAhSy1i9a3rkGPkUqkRh93vog0lZHxqrBkXDdc9NpVPXWLkfOIVxaIu9PBWz3YDoq1vH_kXUaZ8AhSPC3RiJCrdyl8wjaflIF5YVVUY4QKpSUthPczsgO8Ps6LtXNGxox2rqLf6AA"
        width="567"
        height="489"
    />
</p>
<p dir="ltr">
    The "Privacy Criteria" can be used in conjunction with any requirements
    specification method, such as user stories that are widely used in agile
    software development.
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Initially, in "Specify Requirements" it is necessary to specify the
            requirement with some method of specifying requirements.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            After completing the requirement specification, the following
            question should be asked: Involves collect/use/
            retention/disclosure of personal data?
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                If the answer is negative, the process is terminated.
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                If the answer is positive, the process of specifying the
                Privacy Criteria begins.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify ID", that is, the unique identifier of the
            privacy criteria.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Privacy Requirement", that is, the
            requirement that was specified in another requirement specification
            method.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Source", that is, the person responsible for
            the information.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            It should be “Specify Priority" of development:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Low Critical;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Regular;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Critical;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Very Critical.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Description", that is, the detailed
            description of the specified requirement.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Actors" involved in that requirement:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Owner/Controller
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Processor
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Third Party
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Trust Relation of Actors", that is, to inform
            if there is trust between the actors in relation to the specified
            requirement.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Personal Information", that is, submit all
            personal information to the requirement. For each personal
            information it is necessary to classify the personal information
            in:
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Private Information;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Public Information;
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Semi-Public Information.
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify purpose of task context", that is, what is
            the purpose of using or retaining personal information.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Privacy Constraint":
        </p>
    </li>
    <ul>
        <li dir="ltr">
            <p dir="ltr">
                Privacy Preference
            </p>
        </li>
        <li dir="ltr">
            <p dir="ltr">
                Privacy Compliance/Policy
            </p>
        </li>
    </ul>
    <li dir="ltr">
        <p dir="ltr">
            It should be "Specify Risk Scenario", that is, detail all
            "potential vulnerabilities" that can be exploited by "potential
            threats" and put together, should cause "Potential harm".
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Finally, It should be "Specify Privacy Mechanism (s)" that can be
            used to mitigate the identified risk scenario.
        </p>
    </li>
</ul>
<p dir="ltr">
    The metamodel below presents the constructs and rules needed to build
    privacy specification using the Privacy Criteria.
</p>
<p dir="ltr">
    <img
        src="https://lh5.googleusercontent.com/98u78zpkvQkv3Jqux7R9XY7qQdG6o-_Mjc7RNdklSkMjVIqFCS5tlZR7XXrmmqVWAY8D1nFcSs5lfIpd9_EMw-0QmPo2fHvVcqIzbmxph6DlvoGaCruU8h0eTwZUtcP2JYUiSBqVCl8Nerhxhw"
        width="567"
        height="323"
    />
</p>
<p dir="ltr">
    See the privacy concepts catalog for a better understanding of the concepts
    presented.
</p>

<!--_----->