<h1><center>What is this?</center></h1>

<div>
    <h3 id = "english">What is 'Privacy Criteria'?</h3>
    <p class = "textao">
    Data from software applications often reveal a large amount of personal information and
    can be used for purposes other than those originally intended. Disclosure of this
    information in an unregulated way raises privacy concerns. Thus, the literature reports the
    need for systematic approaches to specify privacy requirements. Moreover, it is well-
    known that agile software development (ASD) has been increasingly adopted in industry as
    it can minimize the challenges related to requirements changes through short iterations
    and active stakeholders. In this context, we explore privacy in Requirements Engineering
    (RE) and provide a guide, called "Privacy Criteria", to deal with privacy during
    requirements elicitation and specification activities in ASD.
    </p>
</div>

<!--
<div class = "my-4">
    <h3 id = "portugues">O que são os 'Critérios de Privacidade'?</h3>
    <p class = "textao">
    Os dados de aplicativos de software geralmente revelam uma grande quantidade de
    informações pessoais e podem ser usados para outros fins que não os originalmente
    pretendidos. A divulgação dessas informações de maneira não regulamentada gera
    preocupações com a privacidade. Assim, a literatura relata a necessidade de abordagens
    sistemáticas para especificar os requisitos de privacidade. Além disso, é bem conhecido que o
    desenvolvimento de software ágil (ASD) tem sido cada vez mais adotado na indústria, já que
    pode minimizar os desafios relacionados às mudanças de requisitos por meio de iterações
    curtas e partes interessadas ativas. Neste contexto, exploramos a privacidade em Engenharia
    de Requisitos (RE) e fornecemos um guia, chamado "Critérios de Privacidade", para lidar com a
    privacidade durante atividades de especificação e elicitação de requisitos em ASD.
    </p>
</div>-->