/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';

body{
    background-color: #dfe7ee;
}

.no-padding{
    padding: 0px;
}

.bg-white{
    background-color: #FFFFFF;
}

.center {
    text-align: center;
}

div.footer{
    padding: 1%;
    background-color: #F8F9FA;
    font-size: small;
    text-align: center;
}

.bold{
    font-weight: bold;
}

.textao{
    text-align: justify;
}

.hidden{
    display: none;
}

.separador{
    font-size: 0.7em;
    color: #4DD0E1;
}

//PARA TABELA
.center{
    text-align: center;
}

.cinza{
    background: #D9D9D9;
}

.borda{
    border: 1px solid #000000;
}
